
<h1>Calendriers</h1>
<div class="col-md-4 col-sm-6">
	<div class="panel panel-default" >
		<div class="panel-heading">
		  <h3 class="panel-title">Chambre <strong>{{rooms[0].name}}</strong> </h3>
		</div>
		<div class="panel-body">
			<div id="datepicker0"></div>
		</div>
	</div>
</div>
<div class="col-md-4 col-sm-6">
	<div class="panel panel-default" >
		<div class="panel-heading">
		  <h3 class="panel-title">Chambre <strong>{{rooms[1].name}}</strong> </h3>
		</div>
		<div class="panel-body">
			<div id="datepicker1"></div>
		</div>
	</div>
</div>
<div class="col-md-4 col-sm-6">
	<div class="panel panel-default" >
		<div class="panel-heading">
		  <h3 class="panel-title">Chambre <strong>{{rooms[2].name}}</strong> </h3>
		</div>
		<div class="panel-body">
			<div id="datepicker2"></div>
		</div>
	</div>
</div>

<script src="scripts/main.js"></script>
